@{
    ViewData["Title"] = "BlogsByCategoryId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Entities.Concrete.Blog>
<div class="container pt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="blogs">
        <div class="col-lg-9">
            @*@await Html.PartialAsync("~/Views/Blogs/List.cshtml")*@
            @if (Model != null)
            {


                <div class="row">
                    @if (Model.Count > 0)
                    {

                        foreach (var item in Model)
                        {
                            <div class="col-lg-6">
                                <img class="rounded-circle" style="width: 150px; height: 150px" alt="avatar1" src="~/Images/@item.ImagePath" />
                                <h2 class="fw-normal">@item.Title </h2>
                                <p>
                                    <a class="btn btn-outline-secondary" asp-route-id="@item.Id" asp-action="Detail" asp-controller="Blogs">View details &raquo;</a>
                                </p>
                            </div>
                        }
                        @*<nav aria-label="Page navigation example">
                <ul class="pagination">
                @if (Model.blogs.HasPrevious)
                {
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                }

                @foreach (var item in Model.pageNumberList)
                {
                <li class="page-item"><a class="page-link" href="#">@item</a></li>
                }
                @if (Model.blogs.HasNext)
                {
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
                </li>

                }
                </ul>


                </nav>*@
                      @*  <div class="pull-right">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                    new{page }),
                    new PagedListRenderOptionsBase
                    {
                        LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                    Display = PagedListDisplayMode.IfNeeded

                    })
                        </div>*@

                    }
                    else
                    {
                        <div class="offset-3 col-lg-6">
                            <h2 class="fw-normal">Üzgünüz.. </h2>
                            <p>
                                Blog bulunumadı
                            </p>

                        </div>
                    }


                </div>
            }
        </div>
        <div class="col-lg-3">
            @await Component.InvokeAsync("BlogsSidebar")
        </div>
    </div><!-- /.row -->

</div><!-- /.container -->
