@using Entities.Concrete;
@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
    var blogId = ViewContext.RouteData.Values["id"];
    Blog blog = ViewBag.blog;
}
@model Blog

<div class="container pt-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-9">
            <div class="card border-0 mb-3">
                <img src="~/Images/@blog.ImagePath" style="height: 50%; height: 50%" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@blog.Title</h5>
                    <p class="card-text">
                        @blog.Content
                        
                    </p>
                    <p class="card-text"><small class="text-muted">@blog.CreatedDate</small></p>
                    <p class="card-text"><small class="text-muted">@blog.Writer.NickName</small></p>
                </div>
            </div>
            @await Component.InvokeAsync("CommentList",new {blogId=Convert.ToInt32(blogId)})
        </div>
        <div class="col-lg-3">
            @await Component.InvokeAsync("BlogsSidebar")
        </div>
    </div>
</div>
