@using Entities.Concrete;
@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}
@model Blog

<div class="container pt-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-9">
            <div class="card border-0 mb-3">
                <img src="~/Images/@Model.ImagePath" style="height: 50%; height: 50%" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">
                        @Model.Content
                        
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            @await Component.InvokeAsync("CommentList",new {blogId=2})
        </div>
        <div class="col-lg-3">
            @await Component.InvokeAsync("BlogsSidebar")
        </div>
    </div>
</div>
