
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@model WebUI.Areas.User.Models.ChangePasswordModel

<div class="row py-5 mx-0">

    <div class="col-6 offset-3">
        <h3>Şifre Değiştir</h3>

        <div class="row">
            <form asp-action="ChangePassword" asp-controller="Auth" asp-area="User">
                <div class="mb-3" hidden="true">
                    <label asp-for="UserId" class="form-label">Şifre</label>
                    <input asp-for="UserId" type="password" class="form-control" value="@ViewBag.userId">
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="OldPassword" class="form-label">Şifre</label>
                    <input asp-for="OldPassword" type="password" class="form-control">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">Şifre Tekrar</label>
                    <input asp-for="NewPassword" type="password" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmNewPassword" class="form-label">Şifre Tekrar</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-success w-100 rounded-5">Değiştir</button>
            </form>
        </div>

    </div>
</div>

