@{
    Layout = null;
}

<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png);"></a>
        <div class="d-flex justify-content-center">
            @User.Identity.Name
        </div>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hesabım</a>
                <ul class="collapse list-unstyled" id="accountSubmenu">
                    <li>
                        <a href="#">Profilim</a>
                    </li>
                    <li>
                        <a asp-area="User" asp-controller="Auth" asp-action="ChangePassword">Şifre Değiştir</a>
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-area="User" asp-controller="Blogs" asp-action="Index"> <span class="nav-label">Bloglar</span></a>
                </li>
                <li>
                    <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kategori İşlemleri</a>
                    <ul class="collapse list-unstyled" id="categorySubmenu">
                        <li>
                            <a asp-area="User" asp-controller="Categories" asp-action="Index">Kategoriler</a>
                        </li>
                        <li>
                            <a asp-area="User" asp-controller="Categories" asp-action="Add">Yeni Kategori</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#writerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Yazar İşlemleri</a>
                    <ul class="collapse list-unstyled" id="writerSubmenu">
                        <li>
                            <a asp-area="User" asp-controller="Writer" asp-action="Index">Yazarlar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#commentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Yorum İşlemleri</a>
                    <ul class="collapse list-unstyled" id="commentSubmenu">
                        <li><a href="#">Yorumlar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#roleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Yetki İşlemleri</a>
                    <ul class="collapse list-unstyled" id="roleSubmenu">
                        <li><a href="#">Adminler</a></li>
                        <li><a href="#">Kullanıcılar</a></li>
                        <li><a href="#">Yeni Rol Ekle</a></li>
                        <li><a href="#">Yeni Admin Ekle</a></li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Writer"))
            {
                <li>
                    <a href="#blogForWriterSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Blog İşlemleri</a>
                    <ul class="collapse list-unstyled" id="blogForWriterSubmenu">
                        <li><a href="#">Bloglarım</a></li>
                        <li><a asp-area="User" asp-controller="Blogs" asp-action="Add">Yeni Blog</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Yorumlarım</a>
                </li>
            }
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area="">Siteye Git</a>
            </li>
            <li>
                <a asp-controller="Auth" asp-action="LogOut" asp-area="">Çıkış Yap</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
