@{
    Layout = null;
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" style="height: 3rem;width: 3rem" src="https://ubisoft-avatars.akamaized.net/3dbcbbbb-2947-40e3-8fe7-513e3f441a5d/default_256_256.png" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@User.Identity.Name</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="#">Profilim</a></li>
                        <li><a class="dropdown-item" href="#">Şifreyi Değiştir</a></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="">Siteye Git</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Auth" asp-action="LogOut" asp-area="">Çıkış Yap</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Profilim</span></a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#"><i class="fa-solid fa-square-list"></i><span class="nav-label">Kategori İşlemleri</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a asp-area="User" asp-controller="Categories" asp-action="Index">Kategoriler</a></li>
                        <li><a href="#">Yeni Kategori</a></li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#"><i class="fa-solid fa-comments"></i> <span class="nav-label">Yorum İşlemleri</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Yorumlar</a></li>
                    </ul>
                </li>
            }
            @if ((bool)ViewBag.hasWriter)
            {
                <li>
                    <a href="#"><i class="fa-solid fa-blog"></i>  <span class="nav-label">Blog İşlemleri</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Bloglarım</a></li>
                        <li><a asp-area="User" asp-controller="Blogs" asp-action="Add">Yeni Blog</a></li>
                    </ul>
                </li>
            }
            <li>
                <a href="#"><i class="fa-solid fa-key"></i> <span class="nav-label">Güvenlik</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Şifreyi Değiştir</a></li>
                </ul>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Home" asp-area=""><i class="fa-solid fa-door-open"></i> <span class="nav-label">Siteye Git</span></a>
            </li>
            <li>
                <a asp-controller="Auth" asp-action="LogOut" asp-area=""><i class="fa-solid fa-right-from-bracket"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
           
        </ul>

    </div>
</nav>