@using Entities.Concrete;
@{
    string userImg = "https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black.png";
}

<div class="container w-100">
    <h6>Yorumlar</h6>

   <partial name="/Views/Comment/Add.cshtml"/>

    @if ((List<Comment>)ViewBag.comments != null)
    {
        @foreach (var item in (List<Comment>)ViewBag.comments)
        {
            <div class="card m-3">
                <div class="row">
                    <div class="col-md-2 m-auto text-center p-3">
                        <img class="w-75 rounded rounded-circle" src="@userImg" alt="">
                        <h5 class="card-title">@item.Writer.NickName</h5>

                    </div>
                    <div class="col-md">
                        <div class="card-body">
                            <p class="card-text">@item.Content</p>
                            <p class="card-text"><small class="text-muted">@item.CreatedDate</small></p>

                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>
