@using WebUI.Areas.User.ViewComponents
<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.8
*
-->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@User.Identity.Name | SauBlog</title>

    <link href="~/userareas/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Gritter -->
    <link href="~/userareas/js/plugins/gritter/jquery.gritter.css" rel="stylesheet" />
    <link href="~/UserAreas/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/userareas/css/animate.css" rel="stylesheet" />
    <link href="~/userareas/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @await Component.InvokeAsync(typeof(SidebarViewComponent))


        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                @await Component.InvokeAsync(typeof(NavbarViewComponent))
            </div>
            <div class="row  border-bottom white-bg dashboard-header">
                @RenderBody()
            </div>
            @await Component.InvokeAsync(typeof(FooterViewComponent))

        </div>
    </div>

    <!-- Mainly scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
    <script src="~/userareas/js/jquery-3.1.1.min.js"></script>
    <script src="~/userareas/js/popper.min.js"></script>
    <script src="~/UserAreas/js/bootstrap.js"></script>

    <script src="~/userareas/js/popper.min.js"></script>
    <script src="~/UserAreas/js/plugins/metismenu/jquery.metismenu.js"></script>
    <script src="~/UserAreas/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="UserAreas/js/plugins/flot/jquery.flot.js"></script>
    <script src="UserAreas/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="UserAreas/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="UserAreas/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="UserAreas/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="UserAreas/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="UserAreas/js/demo/peity-demo.js"></script>

    <!-- iCheck -->
    <script src="UserAreas/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="UserAreas/js/inspinia.js"></script>
    <script src="UserAreas/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="UserAreas/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="UserAreas/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="UserAreas/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="UserAreas/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="UserAreas/js/plugins/chartJs/Chart.min.js"></script>

    <script>
        $(document).ready(function () {

            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#1C84C6"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [70, 27, 85],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

        });
    </script>
    @await RenderSectionAsync("UserScripts", required: false)

</body>
</html>
