@{
    ViewData["Title"] = "Forgot Password";

}

<div class="modal fade" id="resetPasswordModal" aria-hidden="true" aria-labelledby="resetPassworModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="resetPassworModalLabel">Şifremi Unuttum</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Size ulaşabilmemiz için sisteme kaydolduğunuz mail adresini giriniz.</h5>
                        <form asp-action="ForgotPassword" id="myForm">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input name="email" type="email" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <button id="submitBtn" type="submit" class="btn btn-outline-danger w-100 rounded">Gönder</button>
                        </form >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>Zaten bir hesabın var mı? <a data-bs-target="#resetPasswordModal" data-bs-dismiss="modal" class="text-decoration-underline" style="cursor: pointer">Giriş Yap</a></div>
            </div>
        </div>
    </div>
</div>


@*
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        // Form gönderme düğmesine tıklama olayı ekleyin
        $("#submitBtn").click(function (e) {
            // Form verilerini serileştirin
            var formData = $("#myForm").serialize();
            // Ajax ile POST isteği oluşturun

            $.ajax({
                type: "POST",
                url: "/Auth/ForgotPassword", // Gönderilecek URL
                data: formData, // Serileştirilmiş form verileri
                success: function (response) {
                    // İstek tamamlandıktan sonra yapılacak işlemler
                    console.log(response);
                    // Örneğin, modal penceresini kapatabilir ve bir mesaj gösterebilirsiniz
                    $("#myModal").modal("hide");
                },
                error: function (response) {
                    console.log(response);
                }

            });
            e.preventDefault();

        });
    });

</script>*@