@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ResetPasswordViewModel

<div class="row py-5 mx-0">
    <div class="col-4 offset-4">
        <div class="row">
            <form asp-action="ResetPassword" asp-controller="Auth">
                <div class="mb-3" hidden="true">
                    <label asp-for="UserId" class="form-label">Şifre</label>
                    <input asp-for="UserId" type="password" class="form-control" value="@ViewBag.userId">
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-success w-100 rounded-5">Değiştir</button>
            </form>
        </div>

    </div>
</div>


