@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using Entities.Concrete
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Home Page";
}

<!--TODO son 2 günde en çok görüntülenen bloglar-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

        <div class="carousel-item active">
            @*            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            *@            <img src="https://www.viewstorm.com/wp-content/uploads/2014/10/default-img.gif" class="w-100" style="height: 700px" />
            <div class="container">
                <div class="carousel-caption text-start text-black">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            @*            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            *@

            <div class="container">
                <div class="carousel-caption text-black">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
            <img src="https://www.viewstorm.com/wp-content/uploads/2014/10/default-img.gif" class="w-100 " style="height: 700px" />


        </div>


        <div class="carousel-item">
            @*            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            *@            <img src="https://www.viewstorm.com/wp-content/uploads/2014/10/default-img.gif" class="w-100 " style="height: 700px" />

            <div class="container">
                <div class="carousel-caption text-end text-black">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container pt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="blogs">
        <div class="col-lg-9">
            @*@await Html.PartialAsync("~/Views/Blogs/List.cshtml")*@
            @if (Model!=null)
            {
                
            
            <div class="row">
                @if (Model.Count > 0)
                {

                    foreach (var item in Model)
                    {
                        <div class="col-lg-6">
                            <img class="rounded-circle" style="width: 150px; height: 150px" alt="avatar1" src="~/Images/@item.ImagePath" />
                            <h2 class="fw-normal">@item.Title </h2>
                            <p>
                                <a class="btn btn-outline-secondary" asp-route-id="@item.Id" asp-action="Detail" asp-controller="Blogs" asp-area="">View details &raquo;</a>
                            </p>
                        </div>
                    }
                    @*<nav aria-label="Page navigation example">
                <ul class="pagination">
                @if (Model.blogs.HasPrevious)
                {
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                }

                @foreach (var item in Model.pageNumberList)
                {
                <li class="page-item"><a class="page-link" href="#">@item</a></li>
                }
                @if (Model.blogs.HasNext)
                {
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
                </li>

                }
                </ul>


                </nav>*@
                    <div class="pull-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                    new
                    {
                    page

                    }),
                    new PagedListRenderOptionsBase
                    {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                    Display = PagedListDisplayMode.IfNeeded

                    })
                    </div>

                }
                else
                {
                    <div class="offset-3 col-lg-6">
                        <h2 class="fw-normal">Üzgünüz.. </h2>
                        <p>
                            Blog bulunumadı
                        </p>

                    </div>
                }


            </div>
            }
        </div>
        <div class="col-lg-3">
            @await Component.InvokeAsync("BlogsSidebar")
        </div>
    </div><!-- /.row -->

</div><!-- /.container -->

@*@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#blogs > div.col-lg-9 > div > nav > ul > li').click(function (e) {
                e.preventDefault();
                let pageNumber = $('#blogs > div.col-lg-9 > div > nav > ul > li.page-item.active > a').text();
                console.log(pageNumber);
                $('#blogs > div.col-lg-9 > div > nav > ul > li').removeClass('active');
                $(this).addClass('active');
                let url1 = "Home/Index?page=" + pageNumber;
                $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    type: "Get",
                    url: url1,
                    //data: { page: pageNumber },
                    success: function (func) {
                        console.log(func);
                        console.log("başarılı");

                        let w = jQuery.parseJSON(func);
                        console.log(w);
                    },
                    error: function (func) {
                        console.log(func);
                        console.log("başarılı değil");

                    }
                });
            });
        });


    </script>
}*@
